
/**** VARIABLES ****/
:root{
    --body-background: white;
    --header-light: rgb(31, 67, 231);
    --header-dark: rgb(9, 29, 120);
    --primary-light: rgb(40, 122, 228); /* will be used for light section of header and search button */
    --primary-dark: rgb(9, 29, 120); /* will be used for dark section of header and background of cards */ 
   
   /*  --secondary-color: rgb(195, 197, 206); */
    --secondary-light: rgb(246, 189, 189);
    /* --secondary-dark:rgb(195, 197, 206); */
    --secondary-dark:red;
}

/**** RESETS ****/

/* box sizeing to remove  */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;  /* includes padding and border in element's total width and height */
}

body {
    font-family: sans-serif;  /* will trickle down to children */
    background-color: var(--body-background) !important;
}

/* GLOBAL CLASSES */


/* TODO: Decide if to keep default card light border
- if not include .card border:none below
 */
 .card {
    border: none !important;
    background-color: var(--body-background) !important;
  } 
  

label {
    color: red !important;
}

/* TODO: Change label color if selected */
label:checked {
    color: white !important;
}

/* TODO: Try to change checkbox colour and border perhaps */
/* .form-check-input {
    color: red !important;
}

.form-check-input:checked {
    color: red !important;
} */



/* TODO: Attempted to change color of carrow with custom class  */
/* .custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
    background-color: #333 !important;
    border-color: orange !important;
} */

/*
input[type="checkbox"]::after {
    background-color: yellow !important;
}
  
//This works for switch checkbox
input[type="checkbox"] + label::before {
    border-radius: 4px;
    background-color: green !important;
}
   */

/* input[type="checkbox" i] {
    background-color: red !important;
} */


/* NOTES
text-align: center;
text-align: justify;    // each line is equal 
verticle-align: text-top;

? How to change colour of checkbox/switch check?
TODO Change colour of selected label

? Ideas re better format?  Carosel of options?
? Extend - grab all 


Add as another task - extended 

Poss future extension:

? 
? Design for more options categorised into 
- diff tabs perhaps
- carosel of options


*/

/* text-align: center;
text-align: justify;    // each line is equal 
verticle-align: text-top;
 */


/* CUSTOM */
.btn-primary:hover, .btn-primary:active /* , .btn-primary:visited */ {
    background-color: var(--secondary-light) !important;
    color: var(--primary-dark) !important;
}


.btn-primary {
    background-color: var(--secondary-dark) !important;
    margin: 10px;
} 




.section-recipe-search {
    background-color: var(--body-background) !important;
}

/* TODO: Overwrite colour of checkboxes */

/* input[type=checkbox] {
    cursor: pointer;
 }

input[type=checkbox]:after {
 content: " ";
 background-color: #D7B1D7;
 display: inline-block;
 visibility: visible;
}

input[type=checkbox]:checked:after {
  content: "\2714";
} */

/* Atempt to change colour of checkboxes/switch boxes */
.custom-control-input:checked {
    background-color: red;
}

.custom-switch .custom-control -input:checked .custom-control-label::before {
/*     background-color: var(--primary-dark);
    border-color: var(--primary-dark); */
    background-color: red;

}


.card-body-ingred1, .card-body-ingred2, .card-body-ingred3, .card-body-filter{
    background-color: var(--primary-dark);
    color: white; 

  /*   background-color: red;
    color: var(--primary-dark); */
    /* Alternative styles:
    border: 10px solid var(--primary-dark); 
    border-block-color: var(--primary-light);
    */

    border: 5px dotted var(--primary-dark);
    border-block-color: var(--primary-light);
    border-radius: 25px;
    padding: 10px;
    margin: 10px;
} 

.card-body-ingredients {
    border: 5px dotted var(--primary-dark);
    border-block-color: var(--primary-light);
    border-radius: 25px;
    padding: 10px;
    margin: 10px;
}

.card-header {
    background-image: linear-gradient(to right,var(--secondary-dark), white);
}



