
/**** VARIABLES ****/
:root{
    /* --body-background: rgba(219, 233, 230, 0.436); */
    --body-background: white;
    --header-light: rgb(31, 67, 231);
    --header-dark: rgb(9, 29, 120);
    /* --primary-light: rgb(40, 122, 228); */ /* will be used for light section of header and search button */
   /*  --primary-dark: rgb(9, 29, 120);  *//* will be used for dark section of header and background of cards */ 

    
    --primary-light: rgb(243, 229, 204); /* will be used for light section of header and search button */
    --primary-dark: rgb(254, 194, 82); /* will be used for dark section of header and background of cards */ 
   
   /*  --secondary-color: rgb(195, 197, 206); */
    --secondary-light: rgb(246, 189, 189);
    /* --secondary-dark:rgb(195, 197, 206); */
    --secondary-dark:rgb(248, 86, 68);

    --font-dark: rgb(91, 137, 120);
    --font-light: white;
}

/**** RESETS ****/

/* box sizeing to remove  */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;  /* includes padding and border in element's total width and height */
}

body {
    font-family: sans-serif;  /* will trickle down to children */
    background-color: var(--body-background) !important;
}

/* GLOBAL CLASSES */


/* TODO: Decide if to keep default card light border
- if not include .card border:none below
 */
 .card {
    border: none !important;
    background-color: var(--body-background) !important;
  } 
  

label {
    color: green !important;
    color: --var(font-dark) !important;
}

/* TODO: Change label color if selected */
label:checked {
    color: white !important;
}

.card-header {
    /* background-image: linear-gradient(to right,var(--secondary-dark), white); */
    background-image: linear-gradient(to right,var(--secondary-dark), var(--primary-dark));
    color: var(--primary-dark);
    
}
.card-body {

    border-radius: 25px;
    padding: 10px;
    margin: 10px;
}

/* TODO: Try to change checkbox colour and border perhaps */
/* .form-check-input {
    color: red !important;
}

.form-check-input:checked {
    color: red !important;
} */


.btn-primary:hover, .btn-primary:active /* , .btn-primary:visited */ {
    background-color: var(--primary-dark) !important;
    color: var(--primary-light) !important;
}


.btn-primary {
    background-color: var(--secondary-dark) !important;
    border: none;

    margin: 10px;
} 


/* CUSTOM */

.section-recipe-search {
    background-color: var(--body-background) !important;
}

/* TODO: Overwrite colour of checkboxes */

/* Atempt to change colour of checkboxes/switch boxes */
.custom-control-input:checked {
    background-color: purple;
}

.custom-switch .custom-control -input:checked .custom-control-label::before {
/*     background-color: var(--primary-dark);
    border-color: var(--primary-dark); */
    background-color: purple;

}


.card-body-ingred1, .card-body-ingred2, .card-body-ingred3{

    color:var(--secondary-dark);
    background-color: white;

    border: 1px solid var(--secondary-dark);

} 

 .card-body-filter{

 /*    background-color: var(--primary-dark);
    color: white;  */
    color:var(--primary-dark);
    background-color: white;
    border: 5px dotted var(--primary-dark);
    border-block-color: var(--primary-light);

} 

.card-body-ingredients {
    border: 5px dotted var(--primary-dark);
    border-block-color: var(--primary-light);

}

.recipe-search-hr {
    color: var(--secondary-dark);
}


.jumbotron {
    min-height: 600px;
    background-image: url(../images/cooking1.jpg);
    background-size: cover;
    padding-top: 0;
    
}

.fl {
    display: flex;
    justify-content: flex-end;
    color: black;
}


.display-4 {
    margin-left: 400px;
    margin-top: 100px;
}

.lead {
    margin-left: 400px;
}

#navlink {
    color: black;
}

#btnjumbo {
    margin-left: 400px;
    background-color: rgb(248, 86, 68);
    border: none;
}

